<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvReader" class="ru.kotikov.services.CsvReaderImpl"/>
    <bean id="questionPrinter" class="ru.kotikov.services.QuestionPrinterImpl"/>
    <bean id="answerReader" class="ru.kotikov.services.AnswerReaderImpl"/>
    <bean id="resultPrinter" class="ru.kotikov.services.ResultPrinterImpl"/>

</beans>
